<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>712689255854-g42b2dej9v47uullv6h5l8udrfej3alo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.712689255854-g42b2dej9v47uullv6h5l8udrfej3alo</string>
	<key>API_KEY</key>
	<string>AIzaSyBgGlHk1rCpDEz2vswKNJQz2Fo9_Rga0k4</string>
	<key>GCM_SENDER_ID</key>
	<string>712689255854</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.googleSDK</string>
	<key>PROJECT_ID</key>
	<string>sdk-reactnative</string>
	<key>STORAGE_BUCKET</key>
	<string>sdk-reactnative.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:712689255854:ios:d19e5cc062137652</string>
	<key>DATABASE_URL</key>
	<string>https://sdk-reactnative.firebaseio.com</string>
</dict>
</plist>